<%- include ("../partials/header") %>

<div class="alert alert-Success">
    <strong>Ergebnis:</strong>
    Ihr BMI: 
    <strong><%= Math.round(bmi * 100) / 100 %></strong>
</div>


<%- include ("../partials/footer") %>